//color variables
$color-sky-blue: #7bdff2;
$color-tea-green: #d4f2d2;
$color-light-mint: #eff7f6;
$color-candy-pink: #f2b5d4;
$color-pale-pink: #f7d6e0;
$color-beige: #fff6d8;
$color-main: #0f2e5c;
$color-sub: #e6beae;
$color-link: #65bdab;
$color-git-link: #466dd3;
