.showcase-section {
  padding: px(20) px(20);

  background: linear-gradient(rgba(#fff, 1) 0%, transparent 100%),
    linear-gradient(90deg, $color-pale-pink 5%, transparent 1%),
    linear-gradient($color-pale-pink 5%, transparent 1%);

  background-position: auto, 0 0, 10px 10px;
  background-size: cover, 20px 20px, 20px 20px;
}

.showcase {
  width: 90%;
  height: px(400);
  margin: px(20) auto;
  padding: px(15);

  color: $color-main;
  background-color: #fff;
  border-radius: $radius;
  box-shadow: 0px 4px 17px 0px rgba($color: $color-main, $alpha: 0.2);

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .description-col,
  .image-col {
    height: 100%;
  }

  .description-col {
    flex: 55%;
  }

  .image-col {
    flex: 45%;
  }
}

.description-col {
  padding: px(25) px(10);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablet {
    text-align: center;
  }

  h3,
  p {
    margin: 0;
  }

  h3,
  .link-wrapper {
    flex-basis: auto;
  }

  p {
    flex-basis: 50%;
    margin: px(10) 0;
  }

  .link-wrapper {
    display: flex;
    flex-wrap: wrap;

    @include tablet {
      justify-content: center;
    }
  }

  .link {
    margin: px(5);
  }
}

@include tablet {
  .link-wrapper {
    display: block;
  }

  .showcase {
    display: block;
    height: auto;

    .image-col {
      width: 100%;
      height: px(300);
    }
  }
}
